<section class="section background">
  <div class="section__title">Background and Education</div>
  <div class="section__content">
    <p>
      I'm a senior, pursuing my Bachelor of Technology in Information Technology at <a class="underline-link" href="https://www.nitk.ac.in/" target="_blank">NITK, Surathkal</a>.
      My interests and a majority of my projects are on Full-Stack Development and Web Security. Although, I do dabble with Computer Vision and Maching Learning occasionally. 
      I also enjoy business research and am currently doing a study on Online Shopping Cart Abandonment. 
    </p>

    <p>
      I just completed my internship at <a class="underline-link" href="https://www.wellsfargo.com/" target="_blank">Wells Fargo</a> and would love to hone my skills in a new internship/part-time opportunity! 
      I've previously worked at the <a class="underline-link" href="https://ideatostartuplab.com/" target="_blank">Idea to Startup Lab at Indian School of Business</a> as a Research Intern, and worked in two more startups 
      <a class="underline-link" href="https://roado.co.in/" target="_blank">RoaDo</a> and <a class="underline-link" href="https://fluxgen.com/" target="_blank">FluxGen Enineering Technologies</a>.
    </p>

    <p>
      When I'm not in class or working, I'm probably dancing, writing, or rewatching my all time favourite cartoons!
    </p>

    {% include employment-status.html %}
  </div>
</section>
