<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project owasp">
      <figure class="project__pic">
        <a href="https://github.com/meghna-sk/OWASP_Web_Vulnerabilities" target="_blank">
          <img src="{{site.baseurl}}/img/featured/owasp/owasp.jpeg" alt="owasp-webapp">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/meghna-sk/OWASP_Web_Vulnerabilities" target="_blank">Web Vulnerabilties</a>
        </div>
        <p>Built along side and mentored three juniors to create a secure web application which has all top 10 OWASP vulnerabilties mitigated.<br>
        <a href="https://owasp-top-10.herokuapp.com/" target="_blank">Click here to checkout the web application.</a></p>
      </figcaption>
    </div>

    <div class="project proctoring">
      <figure class="project__pic">
        <a href="https://github.com/meghna-sk/Online-Proctoring-and-Facial-Tracking-" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/proctoring/proctoring.jpeg" alt="proctoring-home-page">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/meghna-sk/Online-Proctoring-and-Facial-Tracking-" target="_blank">Online Examination Proctoring & Tracking</a>
        </div>
        <p>Online proctoring and face tracking to authenticate if the candidate is the actual person taking the examination or assessment and to ensure no malpractices take place.</p>
      </figcaption>
    </div>
</section>
