<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project owasp">
      <figure class="project__pic">
        <a href="https://github.com/meghna-sk/OWASP_Web_Vulnerabilities" target="_blank">
          <img src="{{site.baseurl}}/img/featured/owasp/owasp.jpeg" alt="owasp-webapp">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/meghna-sk/OWASP_Web_Vulnerabilities" target="_blank">Web Vulnerabilties</a>
        </div>
        <p>Built along side and mentored three juniors to create a secure web application which has all top 10 OWASP vulnerabilties mitigated.<br>
        <a href="https://owasp-top-10.herokuapp.com/" target="_blank">Click here to checkout the web application.</a></p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">ScreenTime 2.0</a>
        </div>
        <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even
          create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
      </figcaption>
    </div>
</section>
