<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project owasp">
      <figure class="project__pic">
        <a href="https://github.com/meghna-sk/OWASP_Web_Vulnerabilities" target="_blank">
          <img src="{{site.baseurl}}/img/featured/owasp/owasp.jpeg" alt="owasp-webapp">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/meghna-sk/OWASP_Web_Vulnerabilities" target="_blank">Web Vulnerabilties</a>
        </div>
        <p>Built along side and mentored three juniors to implement web security attacks and create a secure web application using React and NodeJS; having all top 10 OWASP vulnerabilties mitigated.<br>
        <a href="https://owasp-top-10.herokuapp.com/" target="_blank">Click here to checkout the web application.</a></p>
      </figcaption>
    </div>

    <div class="project social">
      <figure class="project__pic">
        <a href="https://github.com/meghna-sk/SocialNetworkProject" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/social/homepage.gif" alt="aloha-home-page">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/meghna-sk/SocialNetworkProject" target="_blank">Aloha - Social Networking Website</a>
        </div>
        <p>A basic image sharing based social network implemented with Node.js, Express.js and MongoDB at the backend.</p>
      </figcaption>
    </div>
</section>
